.button {
  display: block;
  width: 288px;
  height: 75px;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 40px;
  color: $white;
  background-color: $primary-orange;
  font-size: 12px;
  font-weight: $bold;
  line-height: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 0;

  cursor: pointer;

  @include tablet {
    width: 250px;
  }

  @include mobile {
    height: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
  }

  &:hover,
  &:focus {
      background-color: $secondary-orange;
  }
}

.button-burger {
  display: none;
  position: relative;
  outline: none;
  border: 0;

  @include tablet {
    display: block;
    width: 72px;
    height: 50px;
    background-color: $primary-orange;
    background-image: url("../img/icon-menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
  }

  @include mobile {
    width: 50px;
  }
}

.button-cross {
  display: none;
  position: relative;
  outline: none;
  border: 0;

  @include tablet {
    display: block;
    width: 72px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url("../img/icon-close.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  @include mobile {
    width: 50px;
  }
}

.header__container--nojs > .button-cross {
  display: none;
}


.button--places {
  width: 266px;
  font-weight: $medium;
  font-size: 14px;
  line-height: 17px;
  background-color: transparent;
  border: 1px solid $border-button;
  padding: 30px 23px;
  margin-left: auto;
  margin-right: auto;

  @include tablet {
    display: none;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: transparent;
  }
}

/* .button {
  display: block;
  width: 288px;
  height: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 30px;
  padding-left: 40px;
  color: $white;
  background-color: $primary-orange;
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: none;

  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 250px;
  }

  @media (min-width: $desktop-width) {
    height: 75px;
    font-size: 12px;
    line-height: 14.63px;
    font-weight: 700;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &:hover,
  &:focus {
      background-color: $secondary-orange;
  }
} */
