.contacts {
  position: relative;
  width: 390px;
  padding-left: 90px;
  border-right: 1px solid #D7D9DF;

  @include tablet {
    padding-left: 50px;
  }

  @include mobile {
    padding-left: 30px;
  }
}

.contacts__mail {
  position: relative;
  margin-bottom: 20px;
  padding-left: 41px;
  font-size: 14px;
  color: $primary-orange;
  font-weight: 400;
  line-height: 17px;
  text-decoration: underline;
  text-align: left;

  @include mobile {
    padding-left: 35px;
    text-align: center;
  }
}

.contacts__phone {
  position: relative;
  margin-left: 0;
  padding-left: 41px;
  font-size: 16px;
  text-decoration: underline;
  font-weight: 400;
  line-height: 32px;
  color: $primary-orange;
  text-align: center;

  @include tablet {
    text-align: left;
  }
}

.contacts__mail-icon {
  position: absolute;
  top: 52px;
  left: 90px;

  @include tablet {
    left: 50px;
  }

  @include mobile {
    left: 60px;
  }
}

.contacts__phone-icon {
  position: absolute;
  top: 90px;
  left: 93px;
  opacity: 0.2;

  @include tablet {
    left: 53px;
  }

  @include mobile {
    left: 10px;
  }
}
