.greetings {
  width: 100%;
  min-height: 860px;
  display: flex;
  flex-direction: column;
  padding-top: 186px;
  padding-bottom: 10px;
  margin-bottom: 190px;
  background-image: url("../img/bg-greetings-desktop@1x.jpg");
  background-color: $background-image-color;
  background-position: center;
  background-size: cover;

  @include retina {
    background-image: url("../img/bg-greetings-desktop@2x.jpg");
  }

  @include tablet {
    min-height: 344px;
    padding-top: 60px;
    margin-bottom: 70px;
    background-image: url("../img/bg-greetings-tablet@1x.jpg");

    @include retina {
      background-image: url("../img/bg-greetings-tablet@2x.jpg");
    }
  }

  @include mobile {
    min-height: auto;
    padding-top: 0;
    margin-bottom: 90px;
    background-image: none;
    background-color: transparent;
  }
}

.greetings__wrapper {
  width: 390px;
  margin-right: 23.7%;
  margin-left: auto;

  @include tablet {
    width: 54.2%;
    margin-right: auto;
  }

  &--up {
    @include mobile {
      width: 100%;
      min-height: 235px;
      padding-top: 82px;
      padding-bottom: 81px;
      margin-bottom: 20px;
      background-image: url("../img/bg-greetings-mobile@1x.jpg");
      background-color: $background-image-color;
      background-position: center;
      background-size: cover;

      @include retina {
        background-image: url("../img/bg-greetings-mobile@2x.jpg");
      }
    }
  }

  &--down {
    @include mobile {
      width: 90%;
    }
  }
}

.greetings__title {
  margin-bottom: 29px;
  font-weight: $semi-bold;
  font-size: 55px;
  line-height: 80px;
  letter-spacing: -1.107px;
  color: $white;

  @include tablet {
    margin-bottom: 15px;
    font-weight: $semi-bold;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: normal;
    text-align: center;
  }

  @include mobile {
    width: 217px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    padding-left: 6px;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
  }
}

.greetings__text {
  margin-bottom: 33px;
  font-size: $font-size;
  line-height: 27px;
  color: $white;
  letter-spacing: -0.467px;

  @include tablet {
    margin-bottom: 10px;
    line-height: 27px;
    text-align: center;
  }

  @include mobile {
    margin-bottom: 20px;
    color: $primary-black;
  }
}
