.nav {
  display: flex;
  flex-wrap: wrap;
  margin-right: 55px;

  @include tablet {
    width: 100%;
    padding-top: 99px;
    padding-bottom: 99px;
    margin: 0;
  }
}

.nav__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @include tablet {
    flex-direction: column;
    align-items: flex-start;
  }
}

.nav__item {
  margin-right: 41px;

  &:last-child {
    margin-right: 0;

    @include tablet {
      margin-bottom: 0;
    }
  }

  @include tablet {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
    background-color: $background-secondary;
  }
}

.nav__link {
  color: $primary-black;
  font-size: 14px;
  line-height: 17px;

  @include tablet {
    position: relative;
    width: 100%;
    display: block;
    padding: 17px 50px 17px 35px;
    color: $mobile-menu-text;
    font-size: 20px;
    line-height: $line-height;

    &::after {
      position: absolute;
      top: 50%;
      right: 25px;
      transform: translateY(-50%);
      display: block;
      content: "";
      width: 10px;
      height: 13px;
      background-image: url("../img/icon-arrow-right.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &:hover,
  &:focus {
    @include desktop {
      color: $primary-orange;
    }
  }
}
