@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local("Montserrat Bold"), url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff"); }

@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: local("Montserrat Semi-Bold"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff"); }

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local("Montserrat Medium"), url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff"); }

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("Montserrat Regular"), url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff"); }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

.page {
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100%;
  margin: 0;
  font-style: normal;
  font-size: 16px;
  line-height: 28px;
  font-family: "Montserrat", "Arial", sans-serif;
  color: #141517; }

.list {
  padding: 0;
  margin: 0;
  list-style: none; }

.input {
  border: 0;
  outline: none; }

.title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px; }

.text {
  margin: 0;
  padding: 0; }

.page {
  display: grid;
  min-height: 100%;
  grid-template-columns: repeat(auto-fit, minmax(320px, 100%));
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content; }

.page__header {
  width: 100%; }

.page__main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 118px;
  background-image: url("../img/bg-group-tabs.svg");
  background-repeat: no-repeat;
  background-position: center 80.7%;
  background-size: 75.2%; }
  @media (max-width: 1500px) {
    .page__main {
      background-position: center 78%;
      background-size: 80%; } }
  @media (max-width: 1023px) {
    .page__main {
      margin-bottom: 30px;
      background: none; } }
  @media (max-width: 767px) {
    .page__main {
      margin-bottom: 20px; } }

.page__footer {
  width: 100%; }

.header {
  min-width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 34px;
  padding-bottom: 31px; }
  @media (max-width: 1023px) {
    .header {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      padding: 0; } }

.header__wrapper {
  width: 61%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 1023px) {
    .header__wrapper {
      width: 100%; } }

.header__top {
  width: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
  padding-bottom: 3px; }
  @media (max-width: 1023px) {
    .header__top {
      width: 100%;
      min-height: 50px;
      padding-left: 21px;
      padding-bottom: 0;
      margin-right: 0; } }
  @media (max-width: 767px) {
    .header__top {
      padding-left: 16px; } }

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
  margin-right: 15px;
  z-index: 1; }
  @media (max-width: 1023px) {
    .header__container {
      display: none;
      width: 100%;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-left: 0;
      margin-right: 0; } }
  @media (max-width: 1023px) {
    .header__container--open {
      position: absolute;
      min-width: 320px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      background-color: #ffffff;
      padding-top: 50px;
      padding-bottom: 50px; } }
  @media (max-width: 1023px) {
    .header__container--nojs {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

.header__logo {
  line-height: 0; }
  @media (max-width: 1023px) {
    .header__logo {
      margin-top: 4px; } }
  .header__logo svg {
    width: 57px;
    height: 22px; }
    @media (max-width: 1023px) {
      .header__logo svg {
        width: 44px;
        height: 18px; } }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 55px; }
  @media (max-width: 1023px) {
    .nav {
      width: 100%;
      padding-top: 99px;
      padding-bottom: 99px;
      margin: 0; } }

.nav__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 1023px) {
    .nav__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; } }

.nav__item {
  margin-right: 41px; }
  .nav__item:last-child {
    margin-right: 0; }
    @media (max-width: 1023px) {
      .nav__item:last-child {
        margin-bottom: 0; } }
  @media (max-width: 1023px) {
    .nav__item {
      width: 100%;
      margin-right: 0;
      margin-bottom: 30px;
      background-color: #fbf8f8; } }

.nav__link {
  color: #141517;
  font-size: 14px;
  line-height: 17px; }
  @media (max-width: 1023px) {
    .nav__link {
      position: relative;
      width: 100%;
      display: block;
      padding: 17px 50px 17px 35px;
      color: #48494D;
      font-size: 20px;
      line-height: 28px; }
      .nav__link::after {
        position: absolute;
        top: 50%;
        right: 25px;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        display: block;
        content: "";
        width: 10px;
        height: 13px;
        background-image: url("../img/icon-arrow-right.svg");
        background-repeat: no-repeat;
        background-position: center; } }
  @media (min-width: 1024px) {
    .nav__link:hover, .nav__link:focus {
      color: #FE7865; } }

.contact-us {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2px; }
  @media (max-width: 1023px) {
    .contact-us {
      display: none; } }
  .contact-us--prices {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-top: 0; }
    @media (max-width: 1023px) {
      .contact-us--prices {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }

.contact-us__icon-phone {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  fill: none;
  stroke: #141517; }
  .contact-us__icon-phone--prices {
    top: 15px;
    left: -6px;
    stroke: #F17D4B; }
    @media (max-width: 1023px) {
      .contact-us__icon-phone--prices {
        display: none; } }

.contact-us__tel {
  width: 227px;
  padding-left: 39px;
  color: #141517;
  font-size: 18px;
  line-height: 32px;
  text-decoration: underline; }
  .contact-us__tel--prices {
    width: 248px;
    padding-left: 44px;
    font-size: 20px;
    line-height: 32px;
    color: #141517;
    text-decoration: none; }
    @media (max-width: 1023px) {
      .contact-us__tel--prices {
        width: 188px;
        padding-left: 0;
        margin-right: 0;
        font-size: 18px;
        text-align: center;
        text-decoration: underline;
        color: #FE7865; } }
  .contact-us__tel:hover, .contact-us__tel:focus {
    color: #FE7865; }
  .contact-us__tel:hover + .contact-us__icon-phone,
  .contact-us__tel:focus + .contact-us__icon-phone {
    stroke: #FE7865; }

.contact-us__text {
  margin-bottom: 12px;
  margin-right: 35px;
  font-weight: 500;
  font-size: 22px;
  line-height: 34px;
  text-align: end;
  color: #141517; }
  @media (max-width: 1023px) {
    .contact-us__text {
      margin-right: 0;
      margin-bottom: 10px;
      font-size: 18px;
      text-align: center; } }

.contact-us__wrapper {
  position: relative;
  width: 253px;
  margin-right: 38px; }
  @media (max-width: 1023px) {
    .contact-us__wrapper {
      width: 188px;
      margin-right: 0; } }

.button {
  display: block;
  position: relative;
  width: 288px;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 40px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 0;
  background-color: #FE7865;
  cursor: pointer; }
  @media (max-width: 1023px) {
    .button {
      width: 250px;
      height: 50px;
      padding-top: 20px;
      padding-bottom: 20px;
      font-weight: 500;
      font-size: 10px;
      line-height: 12px; } }
  @media (max-width: 767px) {
    .button {
      width: 288px; } }
  .button:hover, .button:focus {
    background-color: #F17D4B; }
  .button--link {
    width: 340px; }
    @media (max-width: 1023px) {
      .button--link {
        width: 250px;
        margin-right: auto;
        margin-left: auto; } }
    @media (max-width: 767px) {
      .button--link {
        width: 288px; } }
    .button--link::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 39px;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      width: 16px;
      height: 16px;
      display: block;
      background-image: url("../img/icon-arrow-down.svg");
      background-repeat: no-repeat;
      background-position: center; }
  .button--buy {
    width: 250px;
    padding-left: 39px;
    padding-right: 39px; }
    @media (max-width: 767px) {
      .button--buy {
        width: 288px; } }
  .button--card {
    width: 310px;
    padding-left: 39px;
    padding-right: 39px;
    margin-top: auto; }
    @media (max-width: 1023px) {
      .button--card {
        width: 286px;
        position: absolute;
        bottom: -2px;
        left: 0; } }
    @media (max-width: 767px) {
      .button--card {
        left: 0;
        bottom: -3px; } }
  .button--submit {
    width: 177px;
    padding: 18px 40px 17px;
    margin-left: auto;
    margin-right: auto; }
    @media (max-width: 1023px) {
      .button--submit {
        width: 250px;
        padding: 20px 40px 18px; } }
    @media (max-width: 767px) {
      .button--submit {
        width: 288px; } }

.button-burger {
  display: none;
  position: relative;
  outline: none;
  border: 0; }
  @media (max-width: 1023px) {
    .button-burger {
      display: block;
      width: 72px;
      height: 50px;
      background-color: #FE7865;
      background-image: url("../img/icon-menu.svg");
      background-repeat: no-repeat;
      background-position: center;
      margin-left: auto; } }
  @media (max-width: 767px) {
    .button-burger {
      width: 50px; } }

.button-cross {
  display: none;
  position: relative;
  outline: none;
  border: 0; }
  @media (max-width: 1023px) {
    .button-cross {
      display: block;
      width: 72px;
      height: 50px;
      position: absolute;
      top: 0;
      right: 0;
      background-color: #ffffff;
      background-image: url("../img/icon-close.svg");
      background-repeat: no-repeat;
      background-position: center; } }
  @media (max-width: 767px) {
    .button-cross {
      width: 50px; } }

.header__container--nojs > .button-cross {
  display: none; }

.button--places {
  width: 266px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.7);
  padding: 30px 23px;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 1023px) {
    .button--places {
      display: none; } }
  .button--places:hover, .button--places:focus, .button--places:active {
    background-color: transparent; }

.greetings {
  width: 100%;
  min-height: 860px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 186px;
  padding-bottom: 10px;
  margin-bottom: 190px;
  background-image: url("../img/bg-greetings-desktop@1x.jpg");
  background-color: #47627d;
  background-position: center;
  background-size: cover; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    .greetings {
      background-image: url("../img/bg-greetings-desktop@2x.jpg"); } }
  @media (max-width: 1023px) {
    .greetings {
      min-height: 344px;
      padding-top: 60px;
      margin-bottom: 70px;
      background-image: url("../img/bg-greetings-tablet@1x.jpg"); } }
  @media (max-width: 1023px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 1023px) and (min-resolution: 2dppx) {
    .greetings {
      background-image: url("../img/bg-greetings-tablet@2x.jpg"); } }
  @media (max-width: 767px) {
    .greetings {
      min-height: auto;
      padding-top: 0;
      margin-bottom: 90px;
      background-image: none;
      background-color: transparent; } }

.greetings__wrapper {
  width: 390px;
  margin-right: 23.7%;
  margin-left: auto; }
  @media (max-width: 1023px) {
    .greetings__wrapper {
      width: 54.2%;
      margin-right: auto; } }
  @media (max-width: 767px) {
    .greetings__wrapper--up {
      width: 100%;
      min-height: 235px;
      padding-top: 82px;
      padding-bottom: 81px;
      margin-bottom: 20px;
      background-image: url("../img/bg-greetings-mobile@1x.jpg");
      background-color: #47627d;
      background-position: center;
      background-size: cover; } }
  @media (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 767px) and (min-resolution: 2dppx) {
    .greetings__wrapper--up {
      background-image: url("../img/bg-greetings-mobile@2x.jpg"); } }
  @media (max-width: 767px) {
    .greetings__wrapper--down {
      width: 90%; } }

.greetings__title {
  margin-bottom: 29px;
  font-weight: 600;
  font-size: 55px;
  line-height: 80px;
  letter-spacing: -1.107px;
  color: #ffffff; }
  @media (max-width: 1023px) {
    .greetings__title {
      margin-bottom: 15px;
      font-weight: 600;
      font-size: 30px;
      line-height: 45px;
      letter-spacing: normal;
      text-align: center; } }
  @media (max-width: 767px) {
    .greetings__title {
      width: 217px;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 0;
      padding-left: 6px;
      font-size: 24px;
      line-height: 36px;
      text-align: center; } }

.greetings__text {
  margin-bottom: 33px;
  font-size: 16px;
  line-height: 27px;
  color: #ffffff;
  letter-spacing: -0.467px; }
  @media (max-width: 1023px) {
    .greetings__text {
      margin-bottom: 10px;
      line-height: 27px;
      text-align: center; } }
  @media (max-width: 767px) {
    .greetings__text {
      margin-bottom: 20px;
      color: #141517; } }

.places {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 57px; }
  @media (max-width: 1023px) {
    .places {
      margin-bottom: 38px; } }
  @media (max-width: 767px) {
    .places {
      margin-bottom: 30px; } }

.places__wrapper {
  width: 100%;
  max-width: 328px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: auto;
  margin-left: 19.5%;
  margin-bottom: 55px; }
  @media (max-width: 1023px) {
    .places__wrapper {
      width: 45%;
      max-width: 450px;
      min-width: 340px;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-left: auto;
      margin-bottom: 39px; } }
  @media (max-width: 767px) {
    .places__wrapper {
      width: 90%;
      min-width: 288px;
      margin-bottom: 18px; } }

.places__header {
  width: 328px;
  margin-bottom: 31px;
  font-weight: 600;
  font-size: 55px;
  line-height: 80px;
  letter-spacing: -1.25px;
  color: #141517; }
  @media (max-width: 1023px) {
    .places__header {
      margin-bottom: 21px;
      font-size: 30px;
      line-height: 45px;
      letter-spacing: normal;
      text-align: center; } }
  @media (max-width: 767px) {
    .places__header {
      width: 288px;
      margin-bottom: 20px;
      font-size: 24px;
      line-height: 36px; } }
  .places__header::after {
    content: "";
    display: block;
    width: 70.09%;
    height: 4px;
    margin-top: 29px;
    background-color: #FE7865; }
    @media (max-width: 1023px) {
      .places__header::after {
        display: none; } }

.places__text {
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.47px; }
  @media (max-width: 1023px) {
    .places__text {
      text-align: center; } }

.places__list {
  width: 62%;
  min-width: 767px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  row-gap: 82px;
  -webkit-column-gap: 5%;
     -moz-column-gap: 5%;
          column-gap: 5%;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 1023px) {
    .places__list {
      width: 82%;
      min-width: 320px;
      row-gap: 0;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  @media (max-width: 767px) {
    .places__list {
      row-gap: 15px; } }

.places__list-item {
  width: 350px;
  margin-bottom: 20px; }
  @media (min-width: 1920px) and (max-width: 1920px) {
    .places__list-item:nth-child(4) {
      margin-left: 112px; }
    .places__list-item:nth-child(5) {
      margin-right: 112px; } }
  @media (min-width: 768px) and (max-width: 768px) {
    .places__list-item:nth-child(5) {
      margin-top: 10px; } }
  @media (max-width: 1023px) {
    .places__list-item {
      width: 288px; } }
  @media (max-width: 767px) {
    .places__list-item:last-child {
      margin-bottom: 0; } }

.places__photo-wrapper {
  position: relative;
  display: block;
  min-height: 100%;
  line-height: 0; }

.places__title {
  position: absolute;
  bottom: 0;
  left: 68px;
  width: 215px;
  padding: 16px 30px;
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.415px;
  color: #141517;
  background-color: #ffffff; }
  @media (max-width: 1023px) {
    .places__title {
      left: 36px; } }

.places__link {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(44, 46, 63, 0.5);
  padding: 175px 42px; }
  @media (max-width: 1023px) {
    .places__link {
      display: block;
      background-color: transparent;
      padding: 0; } }

.places__list-item:hover .places__link {
  display: block; }

.price-card {
  position: relative;
  width: 370px;
  min-height: 675px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid text-dark-03;
  border-radius: 6px;
  padding-top: 44px;
  padding-left: 28px;
  padding-right: 29px;
  padding-bottom: 29px; }
  @media (max-width: 1200px) {
    .price-card {
      width: 330px; } }
  @media (max-width: 1023px) {
    .price-card {
      width: 288px;
      min-height: 630px;
      padding-top: 32px;
      padding-left: 19px;
      padding-right: 20px;
      border-radius: 6px 6px 0 0; } }
  @media (max-width: 1023px) and (max-width: 767px) {
    .price-card {
      min-height: 627px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 29px; } }
  .price-card--complex {
    margin-right: 36px;
    padding-left: 35px; }
    @media (max-width: 1023px) {
      .price-card--complex {
        margin-right: 49px;
        padding-left: 22px; } }
    @media (max-width: 767px) {
      .price-card--complex {
        min-height: 617px;
        margin-right: auto;
        margin-left: auto; } }

.price-card__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 38px; }
  @media (max-width: 1023px) {
    .price-card__wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-bottom: 12px; } }

.price-card__title {
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  color: rgba(44, 46, 63, 0.5); }
  @media (max-width: 1023px) {
    .price-card__title {
      margin-bottom: 7px;
      font-size: 24px;
      line-height: 38px;
      text-align: center; } }
  .price-card__title--economy {
    letter-spacing: -1.27px; }

.price-card__price {
  font-weight: 700;
  font-size: 25px;
  line-height: 34px;
  text-align: center;
  color: rgba(44, 46, 63, 0.5); }
  @media (max-width: 1023px) {
    .price-card__price {
      padding-right: 5px; } }

.price-card__text {
  padding-right: 19px;
  margin-bottom: 27px;
  line-height: 24px;
  color: #141517; }
  @media (max-width: 1023px) {
    .price-card__text {
      padding-right: 0;
      margin-bottom: 8px;
      text-align: center; } }

.price-card__list {
  width: 100%;
  min-height: 321px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-top: 1px solid #FE7865;
  padding-top: 31px; }
  @media (max-width: 1023px) {
    .price-card__list {
      padding-top: 21px; } }

.price-card__item {
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px; }
  @media (max-width: 1023px) {
    .price-card__item {
      margin-bottom: 10px; } }
  .price-card__item:last-child {
    margin-bottom: 0; }
  .price-card__item--second {
    margin-top: -9px; }
    @media (max-width: 1023px) {
      .price-card__item--second {
        margin-top: -5px; } }

.price-card__icon {
  position: absolute;
  top: 10px;
  left: 1px;
  fill: #FE7865; }

.price-card__item-text {
  line-height: 32px;
  color: #141517; }

.price-card:hover {
  border: 3px solid #FE7865;
  padding-top: 42px;
  padding-left: 26px;
  padding-right: 27px;
  padding-bottom: 27px; }
  @media (max-width: 1023px) {
    .price-card:hover {
      padding-top: 28px;
      padding-right: 18px;
      padding-left: 17px;
      padding-bottom: 28px; } }
  @media (max-width: 1023px) {
    .price-card:hover .button--card {
      bottom: -4px;
      left: -2px; } }
  .price-card:hover .price-card__price {
    color: #141517; }
  .price-card:hover .price-card__title {
    letter-spacing: normal;
    color: #141517; }
  .price-card:hover .price-card__list {
    border-color: #fe7865; }
  .price-card:hover .price-card__icon {
    fill: currentColor; }

.price {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30px;
  padding-bottom: 10px;
  margin-bottom: 128px; }
  @media (max-width: 1023px) {
    .price {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-bottom: 116px; } }
  @media (max-width: 767px) {
    .price {
      padding-top: 10px;
      margin-bottom: 13px; } }

.price__header {
  width: 16%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: auto;
  padding-top: 152px;
  padding-left: 0.84%; }
  @media (max-width: 1700px) {
    .price__header {
      width: 25%; } }
  @media (max-width: 1300px) {
    .price__header {
      width: 28%; } }
  @media (max-width: 1023px) {
    .price__header {
      width: 91%;
      padding-top: 0;
      padding-left: 0;
      margin-left: auto;
      margin-bottom: 28px; } }
  @media (max-width: 767px) {
    .price__header {
      width: 90%;
      margin-bottom: 37px; } }

.price__title {
  margin-bottom: 31px;
  font-weight: 600;
  font-size: 55px;
  line-height: 90px;
  color: #141517; }
  @media (max-width: 1023px) {
    .price__title {
      margin-bottom: 20px;
      font-size: 30px;
      line-height: 45px;
      text-align: center; } }
  @media (max-width: 767px) {
    .price__title {
      font-size: 24px;
      line-height: 36px; } }
  .price__title::after {
    content: "";
    display: block;
    width: 60%;
    height: 3px;
    background-color: #FE7865;
    margin-top: 14px; }
    @media (max-width: 1023px) {
      .price__title::after {
        display: none; } }

.price__text {
  margin-bottom: 60px;
  line-height: 27px;
  color: rgba(44, 46, 63, 0.7); }
  @media (max-width: 1023px) {
    .price__text {
      margin-bottom: 33px;
      text-align: center; } }
  @media (max-width: 767px) {
    .price__text {
      margin-bottom: 19px; } }

.price__cards {
  width: 40.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 38px;
  margin-right: 5%;
  margin-left: auto; }
  @media (max-width: 1700px) {
    .price__cards {
      width: 55%; } }
  @media (max-width: 1300px) {
    .price__cards {
      width: 65%;
      margin-right: 3%; } }
  @media (max-width: 1023px) {
    .price__cards {
      width: 90%;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding-top: 0;
      margin-right: auto; } }
  @media (max-width: 767px) {
    .price__cards {
      width: 91%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.tabs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 150px;
  overflow: hidden; }
  @media (max-width: 1023px) {
    .tabs {
      padding-top: 30px;
      margin-bottom: 62px; } }
  @media (max-width: 767px) {
    .tabs {
      padding-top: 0; } }

.tabs__list {
  width: 902px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  margin-left: 19.5%;
  margin-right: auto;
  border-bottom: 1px solid rgba(44, 46, 63, 0.3); }
  @media (max-width: 1475px) {
    .tabs__list {
      margin-left: auto;
      margin-right: auto; } }
  @media (max-width: 1023px) {
    .tabs__list {
      margin-left: 37px;
      margin-bottom: 10px; } }
  @media (max-width: 767px) {
    .tabs__list {
      margin-left: 15px; } }

.tabs__list-item {
  margin-right: 60px;
  padding-bottom: 10px; }

.tabs__list-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: -0.41px;
  color: rgba(44, 46, 63, 0.3); }
  .tabs__list-link:hover, .tabs__list-link:focus {
    color: #FE7865;
    opacity: 1; }

.tabs__wrapper {
  width: 61%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 1230px) {
    .tabs__wrapper {
      width: 80%;
      margin-left: 3%; } }
  @media (max-width: 1023px) {
    .tabs__wrapper {
      width: 100%;
      margin-left: 0;
      margin-right: 0; } }

.tabs__card {
  display: none; }
  .tabs__card--active {
    width: 100%;
    min-width: 900px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 80px;
    padding-bottom: 10px; }
  @media (max-width: 1023px) {
    .tabs__card {
      min-width: 320px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding-top: 23px; } }
  @media (max-width: 767px) {
    .tabs__card {
      padding-top: 14px;
      padding-bottom: 30px; } }

.tabs__description {
  width: 32%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 8.1%;
  padding-top: 10px; }
  @media (max-width: 1023px) {
    .tabs__description {
      width: 95%;
      padding-top: 0;
      padding-bottom: 0;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px; } }
  @media (max-width: 767px) {
    .tabs__description {
      width: 92%;
      padding-bottom: 20px; } }

.tabs__description-title {
  font-weight: 600;
  font-size: 55px;
  line-height: 90px;
  letter-spacing: -1.245px;
  color: #141517;
  margin-bottom: 30px; }
  @media (max-width: 1023px) {
    .tabs__description-title {
      font-weight: 600;
      margin-bottom: 20px;
      font-size: 30px;
      line-height: 45px;
      letter-spacing: normal;
      text-align: center; } }
  @media (max-width: 767px) {
    .tabs__description-title {
      font-size: 24px;
      line-height: 36px; } }
  .tabs__description-title::after {
    content: "";
    display: block;
    width: 46.8%;
    height: 4px;
    margin-top: 13px;
    background-color: #FE7865; }
    @media (max-width: 1023px) {
      .tabs__description-title::after {
        display: none; } }

.tabs__description-text {
  max-height: 600px;
  margin-bottom: 49px;
  letter-spacing: -0.47px;
  color: #141517; }
  @media (max-width: 1023px) {
    .tabs__description-text {
      margin-bottom: 19px;
      text-align: center; } }

.tabs__review-wrapper {
  width: 36.7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative; }
  @media (max-width: 1023px) {
    .tabs__review-wrapper {
      width: 100%; } }

.tabs__photo {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  line-height: 0; }
  @media (max-width: 1023px) {
    .tabs__photo {
      max-height: 415px; } }
  .tabs__photo img {
    width: 100%;
    min-width: 430px;
    -o-object-fit: cover;
       object-fit: cover;
    height: 595px; }
    @media (max-width: 1023px) {
      .tabs__photo img {
        min-width: auto;
        height: 100%; } }

.tabs__review {
  position: absolute;
  top: 106px;
  left: 75%;
  width: 382px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
  padding: 29px 30px 30px; }
  @media (max-width: 1023px) {
    .tabs__review {
      top: 80px;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      padding-top: 30px; } }
  @media (max-width: 767px) {
    .tabs__review {
      width: 270px;
      top: 50px;
      padding-top: 32px;
      padding-left: 23px;
      padding-right: 23px; } }

.tabs__review-title {
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: -0.69px;
  color: #141517;
  margin-bottom: 20px; }
  @media (max-width: 767px) {
    .tabs__review-title {
      font-size: 20px;
      line-height: 24px;
      text-align: center; } }
  .tabs__review-title::after {
    content: "";
    display: block;
    width: 21%;
    height: 2px;
    background-color: #FE7865;
    margin-top: 11px; }
    @media (max-width: 767px) {
      .tabs__review-title::after {
        width: 30.5%;
        height: 1px;
        margin-left: auto;
        margin-right: auto; } }

.tabs__review-item {
  padding: 0;
  margin: 0; }

.tabs__review-text {
  max-height: 250px;
  font-size: 14px;
  letter-spacing: -0.4083px;
  color: rgba(44, 46, 63, 0.7);
  margin-bottom: 31px;
  overflow: scroll; }
  @media (max-width: 767px) {
    .tabs__review-text {
      text-align: center;
      margin-bottom: 17px; } }

.tabs__author {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1px; }
  @media (max-width: 767px) {
    .tabs__author {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding-left: 6px; } }
  .tabs__author img {
    margin-right: 15px; }
    @media (max-width: 767px) {
      .tabs__author img {
        margin-right: 8px;
        margin-bottom: 11px; } }

.tabs__name-author {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  font-style: normal;
  letter-spacing: -0.47px; }

.feedback {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px; }

.feedback__wrapper {
  position: relative;
  width: 44%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20.2%;
  margin-right: auto; }
  @media (max-width: 1250px) {
    .feedback__wrapper {
      margin-left: 8%; } }
  @media (max-width: 1023px) {
    .feedback__wrapper {
      width: 100%;
      margin-left: auto; } }

.feedback__photo {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  line-height: 0; }
  @media (max-width: 1023px) {
    .feedback__photo {
      max-height: 456px; } }
  @media (max-width: 767px) {
    .feedback__photo {
      display: none; } }
  .feedback__photo img {
    width: 100%;
    height: 456px;
    -o-object-fit: cover;
       object-fit: cover; }
  @media (max-width: 1023px) {
    .feedback__photo {
      min-width: auto;
      height: 100%; } }

.feedback__inner-wrapper {
  position: absolute;
  top: 70px;
  left: 60.7%;
  width: 656px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 48px 50px 50px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 4px 30px rgba(41, 54, 66, 0.1);
          box-shadow: 0 4px 30px rgba(41, 54, 66, 0.1);
  border-radius: 5px; }
  @media (max-width: 1023px) {
    .feedback__inner-wrapper {
      top: 15.4%;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      width: 658px; } }
  @media (max-width: 767px) {
    .feedback__inner-wrapper {
      width: 100%;
      -webkit-transform: none;
              transform: none;
      position: static;
      margin-left: auto;
      margin-right: auto;
      padding-left: 0;
      padding-right: 0;
      background-color: #fbf8f8;
      border-radius: 0;
      -webkit-box-shadow: none;
              box-shadow: none; } }

.feedback__title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
  text-align: center;
  color: #141517; }
  @media (max-width: 767px) {
    .feedback__title {
      width: 90%;
      margin-bottom: 20px; } }

.feedback__text {
  margin-bottom: 20px; }
  @media (max-width: 767px) {
    .feedback__text {
      width: 90%;
      text-align: center;
      line-height: 24px;
      margin-bottom: 19px; } }

.form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media (max-width: 767px) {
    .form {
      width: 90%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-left: auto;
      margin-right: auto; } }

.form__label {
  position: relative;
  width: 48.3%;
  margin-right: 19px;
  margin-bottom: 25px; }
  @media (max-width: 1023px) {
    .form__label {
      margin-bottom: 20px; } }
  @media (max-width: 767px) {
    .form__label {
      width: 288px;
      margin-bottom: 19px;
      margin-left: auto;
      margin-right: auto; } }
  .form__label--phone::before {
    content: "+7";
    display: block;
    position: absolute;
    top: 18px;
    left: 26px;
    width: 16px;
    height: 14px;
    font-size: 14px;
    line-height: 17px;
    color: #141517; }
  .form__label--phone::after {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    left: 15px;
    width: 6px;
    height: 6px;
    background-image: url("../img/icon-star-number.svg");
    background-repeat: no-repeat;
    background-position: center; }
  .form__label:last-of-type {
    margin-right: 0; }
    @media (max-width: 767px) {
      .form__label:last-of-type {
        margin-right: auto; } }

.form__error {
  display: none;
  position: absolute;
  top: -15px;
  left: 1px;
  font-size: 12px;
  line-height: 15px;
  color: #141517; }

.form__input {
  width: 269px;
  border: 1px solid rgba(44, 46, 63, 0.3);
  padding: 16px 10px 15px 50px;
  font-size: 14px;
  line-height: 18px;
  color: #141517;
  outline: none; }
  @media (max-width: 767px) {
    .form__input {
      width: 288px;
      margin-left: auto;
      margin-right: auto; } }
  .form__input::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 17px;
    color: #141517; }
  .form__input::-moz-placeholder {
    font-size: 14px;
    line-height: 17px;
    color: #141517; }
  .form__input:-ms-input-placeholder {
    font-size: 14px;
    line-height: 17px;
    color: #141517; }
  .form__input::-ms-input-placeholder {
    font-size: 14px;
    line-height: 17px;
    color: #141517; }
  .form__input::placeholder {
    font-size: 14px;
    line-height: 17px;
    color: #141517; }
  .form__input:hover, .form__input:focus {
    border-color: rgba(44, 46, 63, 0.5); }
  .form__input:active {
    border-color: rgba(44, 46, 63, 0.7); }
  .form__input:invalid {
    border-color: #FE7865; }
  .form__input:invalid + .form__error {
    display: block; }
  .form__input--email {
    padding-left: 14px; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 10px;
  padding-bottom: 46px; }
  @media (max-width: 1023px) {
    .footer {
      min-width: 320px;
      padding-bottom: 22px; } }
  @media (max-width: 767px) {
    .footer {
      padding-bottom: 28px; } }

.footer__wrapper {
  width: 61%;
  min-width: 854px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 1023px) {
    .footer__wrapper {
      width: 95%;
      min-width: 320px; } }
  @media (max-width: 767px) {
    .footer__wrapper {
      width: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      min-width: 320px;
      padding-left: 16px;
      padding-right: 16px; } }

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 28px; }
  .footer__container--travel {
    width: 34.5%;
    border-right: 1px solid #D7D9DF;
    padding-left: 1.2%; }
    @media (max-width: 1023px) {
      .footer__container--travel {
        width: 51.7%;
        padding-left: 0.3%;
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1; } }
    @media (max-width: 767px) {
      .footer__container--travel {
        width: 100%;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        border-right: none;
        border-bottom: 1px solid #D7D9DF;
        padding-left: 5%; } }
  .footer__container--contacts {
    width: 33.2%;
    padding-left: 7.6%;
    border-right: 1px solid #D7D9DF; }
    @media (max-width: 1700px) {
      .footer__container--contacts {
        padding-left: 2.5%; } }
    @media (max-width: 1023px) {
      .footer__container--contacts {
        border-right: none;
        width: 43%;
        padding-left: 6.95%;
        padding-right: 1%;
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1; } }
    @media (max-width: 767px) {
      .footer__container--contacts {
        width: 100%;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding-top: 3px;
        padding-left: 16px;
        border-bottom: 1px solid #D7D9DF;
        margin-bottom: 27px; } }
  .footer__container--extra {
    width: 32.3%;
    padding-left: 4.1%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
    @media (max-width: 1023px) {
      .footer__container--extra {
        border-top: 1px solid #D7D9DF;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding-top: 30px;
        padding-right: 2.2%;
        padding-left: 2.3%;
        width: 100%; } }
    @media (max-width: 767px) {
      .footer__container--extra {
        border-top: none;
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 0; } }

.footer__list-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.footer__title {
  margin-bottom: 21px;
  font-size: 18px;
  line-height: 32px;
  font-weight: 600;
  color: #141517; }
  @media (max-width: 767px) {
    .footer__title {
      margin-right: 25px; } }
  @media (max-width: 767px) {
    .footer__title--extra {
      margin-right: -6px; } }

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 31.9%;
  margin-right: 1.1%; }
  @media (max-width: 1023px) {
    .footer__list {
      min-width: 30.6%; } }
  @media (max-width: 767px) {
    .footer__list {
      margin-bottom: 20px;
      margin-right: 0; } }
  @media (max-width: 767px) {
    .footer__list:first-child {
      width: 50%;
      padding-right: 15%; } }
  @media (max-width: 767px) {
    .footer__list--second {
      width: 50%;
      padding-right: 3%; } }
  .footer__list:nth-child(3) {
    margin-right: 0; }
    @media (max-width: 767px) {
      .footer__list:nth-child(3) {
        width: 100%;
        padding-right: 9%;
        margin-bottom: 17px; } }
  @media (max-width: 767px) {
    .footer__list--contacts {
      width: 269px;
      padding-right: 25px;
      margin-bottom: 16px; } }

.footer__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 10px; }
  @media (max-width: 767px) {
    .footer__item {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .footer__item:last-child {
    margin-bottom: 0; }
  .footer__item--contacts {
    margin-bottom: 21px; }
    @media (max-width: 1023px) {
      .footer__item--contacts {
        margin-bottom: 18px; } }

.footer__text {
  font-size: 14px;
  line-height: 17px;
  color: rgba(44, 46, 63, 0.5); }
  .footer__text--extra {
    line-height: 24px; }
    @media (max-width: 1023px) {
      .footer__text--extra {
        text-align: center; } }

.footer__icon {
  position: absolute;
  left: 0;
  fill: #D7D9DF; }
  .footer__icon--email {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
    @media (max-width: 767px) {
      .footer__icon--email {
        left: 80px; } }
  .footer__icon--phone {
    top: -4px;
    fill: none;
    stroke: #D7D9DF; }
    @media (max-width: 767px) {
      .footer__icon--phone {
        left: 18px; } }

.footer__email {
  padding-left: 41px;
  font-size: 14px;
  line-height: 17px;
  text-decoration: underline;
  color: #FE7865;
  word-break: break-all; }
  @media (max-width: 1023px) {
    .footer__email {
      padding-top: 2px; } }
  @media (min-width: 1024px) {
    .footer__email:hover + .footer__icon,
    .footer__email:focus + .footer__icon {
      fill: #FE7865; } }

@media (max-width: 1023px) {
  .footer__email-email {
    display: none; } }

.footer__email-text {
  display: none; }
  @media (max-width: 1023px) {
    .footer__email-text {
      display: inline;
      text-decoration: underline; } }

.footer__tel {
  padding-left: 41px;
  font-size: 16px;
  line-height: 32px;
  text-decoration: underline;
  color: #FE7865;
  word-break: break-word; }
  @media (min-width: 1024px) {
    .footer__tel:hover + .footer__icon,
    .footer__tel:focus + .footer__icon {
      stroke: #FE7865; } }

.popup {
  position: fixed;
  width: 728px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: calc(50% - (445px / 2));
  left: calc(50% - (728px / 2));
  z-index: 10;
  background-color: #FBF8F8; }
  @media (max-width: 767px) {
    .popup {
      width: 320px; } }

.popup__image {
  width: 338px;
  line-height: 0; }
  @media (max-width: 767px) {
    .popup__image {
      display: none; } }
  .popup__image img {
    height: 100%; }

.popup__wrapper {
  position: relative;
  width: 390px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 72px;
  padding-left: 59px;
  padding-right: 63px;
  padding-bottom: 89px; }
  @media (max-width: 767px) {
    .popup__wrapper {
      width: 100%;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding-top: 100px;
      padding-left: 0;
      padding-right: 0;
      margin-left: auto;
      margin-right: auto; } }

.popup__close {
  display: block;
  width: 22px;
  height: 22px;
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  outline: none;
  background-color: #FBF8F8;
  background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 20; }
  @media (max-width: 767px) {
    .popup__close {
      top: 20px;
      right: 20px; } }
  .popup__close:hover, .popup__close:focus {
    opacity: 0.8; }
  .popup__close:active {
    opacity: 0.4; }

.popup__header {
  margin-bottom: 49px;
  font-weight: 600;
  font-size: 25px;
  line-height: 43px;
  text-align: center;
  color: #48494D; }

.success {
  position: absolute;
  top: 40px;
  right: 0;
  left: 0;
  width: 728px;
  height: 444px;
  padding: 179px 165px;
  margin: auto;
  background-color: #FBF8F8;
  z-index: 5; }

.success__text {
  margin: 0;
  font-size: 25px;
  font-weight: 500;
  line-height: 43px;
  text-align: center; }

.success__button {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 20px;
  right: 20px;
  z-index: 3;
  border: none;
  background-color: transparent; }

.success__close-icon {
  width: 22px;
  height: 22px; }

/*# sourceMappingURL=style.css.map */
