// Widths
$mobile-width: 767px;
$tablet-width: 768px;
$desktop-width: 1024px;
$retina-x2: 2dppx;

// Colors
$primary-orange: #FE7865;
$secondary-orange: #F17D4B;
$primary-black: #141517;
$secondary-black: #2C2E3F;
$white: #ffffff;
$form-background: #FBF8F8;
$bground-greetings-gradient-from: #342929;
$bground-greetings-gradient-to: #7797C3;
$background-primary: $white;
$background-secondary: #fbf8f8;
$box-shadow: 0 4px 30px rgba(41, 54, 66, 0.1);
$text-dark-07: rgba(44, 46, 63, 0.7);
$text-dark-05: rgba(44, 46, 63, 0.5);
$text-dark-03: rgba(44, 46, 63, 0.3);
$mobile-menu-text: #48494D;

// Margins & Paddings
